# Web Framework
fastapi
uvicorn

# Database (MongoDB)
motor
certifi

# AI & LangChain Ecosystem
langgraph
langchain-core
langchain-community
langchain

langchain-pinecone>=0.2.0
langchain-google-genai>=2.0.0

# Vector Database (Pinecone)
pinecone-client


# Document Processing
pypdf

# Utilities
python-dotenv
pydantic
